*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: Cormorant Garamond;
}
body{
    background-color: #1F2732;
    padding: 3% 10%;
}
/* Este codigo es el banner */
.contenedor_banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.titulo_logo{
    font-size: 50px;
}
.contenedor_banner_contenido{
    display: flex;
    align-items: center;
}
.contenedor_banner--espacio{
    gap: 50px;
}
.contenedor_espacio{
    gap: 10px;
}
.imagen_cart{
    width: 30%;
}
.boton_consultar{
    background-color: #353c46;
    border: none;
    padding: 20px;
}