*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
}
p{
    font-family: 'Outfit', sans-serif;
}
li{
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #1f2732;
}

/* Este codigo es el banner */
.seccion_Attorneyster{
    padding: 0px 10% 50px 10%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}
.imagen_fondo{
    position: absolute;
    height: 90vh;
    width: 98.7vw;
}
.titulo_Business{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo_Business h2{
    font-size: 40px;
}
.contenedor_banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #353c46 ;
    padding: 3% 0px;
}
.titulo_logo{
    font-size: 50px;
}
.contenedor_banner_contenido{
    display: flex;
    align-items: center;
}
.contenedor_banner--espacio{
    display: flex;
    gap: 50px;
    align-items: center;
}
.contenedor_espacio{
    gap: 10px;
}
.imagen_cart{
    width: 27%;
}
.boton_consultar{
    background: rgba(255, 255, 255, 0.10);
    border: none;
    padding: 20px;
}
.contenedor_contactos{
    display: flex;
    gap: 25px;
}
.img_contacto{
    border: 2px solid #D1B06B;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-content: center;
}
.text_contacto{
    display: flex;
    gap: 20px;
}
.contenedor_banner_contenido--espacio{
    display: flex;
    align-items: center;
    gap: 10px;
}
.texto_dorado{
    color: #D1B06B;
}

/* contenido de la seccion #1 */
.contenedor_Failing{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor_Failing img{
    width: 80vw;
}
.contendor_contenido{
    display: grid;
    gap: 30px;
    padding: 20px 13%;
}
.contenedor_titulo{
    padding-bottom: 20px ;
    border-bottom: 1px solid #4a535f;
}
.contenedor_titulo h2{
    font-size: 55px;
}
.contendor_contenido h3{
    font-size: 30px;
}
.contenedor_dorado{
    background-color: #D1B06B;
    padding: 20px;
    
}
.parrafo_contenedor{
    text-align: center;
    color: #161D27;
    font-size: 20px;
    font-weight: 600;
}
ul{
    padding-left: 20px;
    display: grid;
    gap: 10px;
}
ol{
    padding-left: 25px;
    display: grid;
    gap: 10px;
}

/* contenido de la seccion#2 */
.seccion_John{
    background-color: #fff;
    padding: 50px 20%;
    display: flex;
    align-items: center;
}
.contenedor_John{
    display: flex;
    gap: 20px;
}
.imagen_John{
    border-radius: 50%;
    height: 30vh;
}
.perfil_John{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.perfil_John h3{
    color: #161D27;
    font-size: 30px;
}
.perfil_John p{
    color: #161D27;
}
.imagenes_John{
    display: flex;
    gap: 20px;
}

/* contenido de la seccion footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20vh 0px;
}
.titulo_Attorneyster{
    display: flex;
    align-items: center;
    gap: 35px;
}
.icono_lateral{
    width: 25vw;
}
.contenedor_Attorneyster{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.titulos_footer{
    font-size: 25px;
    padding: 25px 0px;
    border-top: 1px solid #4a535f;
    border-bottom: 1px solid #4a535f;
}
.contenido_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.footer--dividido{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.parrafos_divididos{
    padding-bottom: 6px;
}
.contenedor_Copyright{
    display: flex;
    padding: 25px 0px;
    border-bottom: 1px solid #4a535f;
    border-top: 1px solid #4a535f;
    width: 80%;
    justify-content: space-between;
}
.footer_linear{
    display: flex;
    gap: 3px;
}
.footer_separacion{
    display: flex;
    gap: 20px;
}
.footer_logos{
    display: flex;
    gap: 20px;
}