*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type=number] {
    -moz-appearance:textfield;
}
p{
    font-family: 'Outfit', sans-serif;
}
li{
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #1f2732;
}

/* Este codigo es el banner */
.seccion_Attorneyster{
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    padding-bottom: 5%;
}
.titulo_Business{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo_Business h2{
    font-size: 40px;
}
.contenedor_banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #353c46 ;
    padding: 3% 0px;
}
.titulo_logo{
    font-size: 50px;
}
.contenedor_banner_contenido{
    display: flex;
    align-items: center;
}
.contenedor_banner--espacio{
    display: flex;
    gap: 50px;
    align-items: center;
}
.contenedor_espacio{
    gap: 10px;
}
.imagen_cart{
    width: 27%;
}
.boton_consultar{
    background: rgba(255, 255, 255, 0.10);
    border: none;
    padding: 20px;
}
.contenedor_contactos{
    display: flex;
    gap: 25px;
}
.img_contacto{
    border: 2px solid #D1B06B;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-content: center;
}
.text_contacto{
    display: flex;
    gap: 20px;
}
.contenedor_banner_contenido--espacio{
    display: flex;
    align-items: center;
    gap: 10px;
}
.texto_dorado{
    color: #D1B06B;
}

/* contenido de la seccion #1 */
.seccion_Peeter{
    display: grid;
    padding: 20vh 10% 30vh 10%;
    gap: 50px;
}
.contenedor_Peeter{
    display: flex;
    align-items: center;
    gap: 30px;
}
.parrafo_Peeter{
    display: grid;
    gap: 15px;
}
.parrafo_Peeter h4{
    font-size: 20px;
}
.espacio_Vegas{
    border-left: 1px solid #4a535f;
    border-right: 1px solid #4a535f;
    padding: 10px 40px;
}
.espacio_adicional{
    width: 50vw;
}
.contenedor_epacio{
    display: grid;
    gap: 5vh;
}
.contenedor_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 10vw;
    background-color: #161D27;

}
.input_epacio{
    display: grid;
    gap: 50px;
}
.input_epacio input{
    background-color: #161D27;
    width: 30vw;
    color: #fff;
    border: none;
    border-bottom: 1px solid #4a535f;
    outline: none;
}
input::placeholder{
    color: #fff;
    font-family: 'Outfit', sans-serif;
    align-items: baseline;
    font-weight: 500;
    font-size: 15px;
}
.contenedor_Messsage{
    display: grid;
    gap: 3vh;
}
.contenedor_Messsage input{
    display: flex;
    background-color: #161D27;
    padding: 5vh 15vw 12vh 5vh;
    color: #fff;
    border: 1px solid #D1B06B;
    outline: none;
}
.boton_Messsage{
    background-color: #D1B06B;
    border: none;
    padding: 20px 40px;
}
.boton_Messsage p{
    color: #1f2732;
    font-weight: bold;
}
.contenedor_Send{
    display: flex;
    justify-content: space-between;
}
.contenedor_contacto{
    display: flex;
    gap: 5vw;
}
.fondo_oscuro{
    background-color: #161D27;
    padding: 1vw 4vw;
}
.mas_padding{
    padding: 1vw 10vw 1vw 3vw;
}

/* contenido de la seccion #2 */
.seccion_Simple{
    background-color: #fff;
    display: grid;
    padding: 20vh 10%;
    gap: 15vh;
}
.titulo_Simple{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo_Simple h3{
    color: #161D27;
    font-size: 30px;
}
.titulo_Simple p{
    color: #161D27;
    text-align: center;
}
.contenedores_Simple{
    display: grid;
    grid-template-columns: 30vw 30vw;
    justify-content: center;
    gap: 3vw;
}
.Simple_texto h4{
    color: #161D27;
    font-size: 25px;
    padding-bottom: 5px;
}
.Simple_texto p{
    color: #161D27;
    font-weight: 300;
}


/* contenido de la seccion footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20vh 0px;
}
.titulo_Attorneyster{
    display: flex;
    align-items: center;
    gap: 35px;
}
.icono_lateral{
    width: 25vw;
}
.contenedor_Attorneyster{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.titulos_footer{
    font-size: 25px;
    padding: 25px 0px;
    border-top: 1px solid #4a535f;
    border-bottom: 1px solid #4a535f;
}
.contenido_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.footer--dividido{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.parrafos_divididos{
    padding-bottom: 6px;
}
.contenedor_Copyright{
    display: flex;
    padding: 25px 0px;
    border-bottom: 1px solid #4a535f;
    border-top: 1px solid #4a535f;
    width: 80%;
    justify-content: space-between;
}
.footer_linear{
    display: flex;
    gap: 3px;
}
.footer_separacion{
    display: flex;
    gap: 20px;
}
.footer_logos{
    display: flex;
    gap: 20px;
}
.Btn_siguiente button{
    width: 160px;
    height: 40px;
    border: none;
    font-family: Outfit;
    font-size: 18px;
    border-radius: 10px;
}
.Btn_siguiente a{
    text-decoration: none;
}