@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-family: 'Cormorant Garamond', serif;
}
h3{
    font-family: 'Cormorant Garamond', serif;
}
h4{
    font-family: 'Cormorant Garamond', serif;
}
p{
    font-family: 'Outfit', sans-serif;
}
body{
    width: 100%;
}
        /* seccion #1 */

/* Este codigo es el banner */
.seccion_Attorneyster{
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    color: #fff;
    background: #1F2732;
    background-image: url(./Repositorio_Homepage/Photo_fondo.png);
}
.titulo_Business{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo_Business h2{
    font-size: 40px;
}
.contenedor_banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #353c46 ;
    padding: 3% 0px;
}
.titulo_logo{
    font-size: 50px;
}
.contenedor_banner_contenido{
    display: flex;
    align-items: center;
}
.contenedor_banner--espacio{
    display: flex;
    gap: 50px;
    align-items: center;
}
.contenedor_espacio{
    gap: 10px;
}
.imagen_cart{
    width: 27%;
}
.boton_consultar button{
    font-family: 'Outfit', sans-serif;
    width: 15vw;
    height: 10vh;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    font-size: 18px;
    color: #fff;
}
.contenedor_contactos{
    display: flex;
    gap: 25px;
}
.img_contacto{
    border: 2px solid #D1B06B;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-content: center;
}
.text_contacto{
    display: flex;
    gap: 20px;
}
.contenedor_banner_contenido--espacio{
    display: flex;
    align-items: center;
    gap: 10px;
}
.texto_dorado{
    color: #D1B06B;
}
.Tareas__Contenido{
    width: 80%;
    height: 100vh;
    display: flex;
    margin: auto;
}
.Tarea__Informacion{
    position: relative;
    padding: 50px 30px;
    top: 20vh;
}
.Tarea__Informacion h2{
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
}
.Tarea__Informacion p{
    color: #D1B06B;
    font-family: 'Outfit', sans-serif;
    padding: 15px 0px;
}
.Tarea__imagen{
    position: relative;
    width: 40vw;
}
.Tarea__imagen img{
    position: absolute;
    right: -28vh;
    height: 100%;
}
.Tarea__Informacion--button{
    font-family: 'Outfit', sans-serif;
    width: 15vw;
    height: 10vh;
    background: #D1B06B;
    border: none;
    font-size: 18px;
}

    /* seccion 2 */
.Tarea__choice{
    background: #1F2732;
    display: flex;
    height: 100vh;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}
.Tarea__choice-img{
    display: grid;
}
.Tarea__choice-img img{
    width: 350px;
    padding: 15px 0px;
}
.Tarea__choice-contenido{
    padding: 0px 20px;
    height: 85vh;
    /* border: 1px solid beige; */
    color: #fff;
    font-family: 'Outfit', sans-serif;
}
.Tarea__choice-title{
    padding: 20px 0px;
    font-family: 'Cormorant Garamond', serif;
}
.Tarea__choice-final{
    display: flex;
       
}
.Tarea__choice-usuario{
    display: flex;
    align-items: center;
    padding: 25px 0px;
}
.Tarea__choice-imagen_usuario{
    background: #161D27;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.Tarea__choice-nombre_usuario{  
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    font-weight: 400;
}
.Tarea__choice-case{
    display: flex;
    width: 18vw;
    height: 12vh;
    align-items: center;
    padding: 0px 40px;
    background: #3B434E;
    margin-right: 20px;
}
.Tarea__choice-case img{
    width: 50px;
    margin-right: 15px;
}
.Tarea__choice-years{
    display: flex;
    width: 18vw;
    height: 12vh;
    align-items: center;
    background: #D1B06B;
    padding: 0px 40px;
    color: black;
}
.Tarea__choice-years img{
    width: 50px;
    border-radius: 5px;
    margin-right: 15px;
}
    /* seccion 3 */
.Tarea__explore{
    background: #161D27;
    color: #fff;
    height: 150vh;
}
.Tarea__explore h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}
.Tarea__explore p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
.encabezado__explore{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20vh 0vh 10vh 0vh;
    justify-content: space-between;
}
.Tarea__explore--info{
    width: 40vw;
}
.Tarea__explore--info strong{
    color: #D1B06B;
}
.Tarea__explore--bloques{
    width: 80%;
    max-width: max-content;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}
.Tarea__explore--bloques_style{
    width: 55vh;
    height: 42vh;
    padding: 20px ;
    background: #1F2732;
    margin-right: 10px;
}
.Tarea__explore--bloques_title{
    margin: auto;
    width: 90%;
}
.Tarea__explore--bloques_info{
    padding: 5px ;
    /* border: 1px solid; */
    width: 90%;
    margin: auto;
}
.Tarea__explore--bloques_linea {
    margin: auto;
    width: 90%;
}
.Tarea__explore--bloques_linea img{
    width: 250px;
}
.Tarea__explore--bloques_btn{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    align-items: end;
    padding: 20px 0px;
    /* border: 1px solid; */
}
.Tarea__explore--bloques_btn img{
    width: 50px;
}
.Tarea__explore--bloques_btn button{
    width: 9vw;
    height: 6vh;
    font-family: 'Outfit', sans-serif;
    background: #161D27;
    color: #fff;
    border: none;
}
.btn_explore--color button{
    background: #D1B06B;
    color: black;
}
    /* seccion 4 */
.Tarea__trouble{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20vh;
}
.Tarea__trouble h2 {
    font-family: 'Cormorant Garamond', serif ;
}
.Tarea__trouble h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
}
.Tarea__trouble p{
    font-family: 'Outfit', sans-serif;
}
.Tarea__trouble--title{
    width: 15vw;
    margin: auto;
}
.Tarea__trouble--title img{
    margin-top: 10px;
}
.Tarea__trouble--info{
    color: #909090;
    width: 42vw;
    padding: 6vh 0vh;
    margin: auto;
}
.Tarea__trouble--notifi{
    display: flex;
    width: 70vw;
    /* border: 1px solid; */
    align-items: center;
    padding: 5px;
}
.Tarea__trouble--notifi_trusted{
    display: flex;
    width: 32%;
    height: 100px;
    align-items: center;
    background: #d7d7d749;
    margin-right: 20px;
}
.Tarea__trouble--notifi_trusted--bucle{
    position: relative;
}
.Tarea__trouble--notifi_trusted--bucle img{
    width: 80%;
}
.Tarea__trouble--notifi_trusted--bucle-corazon{
    position: absolute;
    top: 35%;
    left: 33%;
}
.estrella{
    top: 25%;
    left: 30%;
    width: 40%;
}
.Tarea__trouble--notifi_trusted--bucle-corazon p{
    font-weight: 600;
}
.Tarea__trouble--notifi_trusted--bucle-corazon img{
    width: 50%;
}
.Tarea__trouble--notifi_trusted--info{
    width: 70%;
    height: 50px;
    display: grid;
    text-align: left;
}
.Tarea__trouble--notifi-imagen img{
    width: 100%;
    height: 100px;
}

.Tarea__trouble--notifi-imagen{
    width: 32%;
    height: 80%;
    position: relative;
}
.Tarea__trouble--notifi-imagen--info{
    position: absolute;
    top: 20px;
    color: #fff;
    width: 50%;
    text-align: left;
    margin-left: 5vh;
}
.Tarea__trouble--notifi-imagen--info h3{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.Tarea__trouble--title_meet{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: 10vh;
}
.Tarea__trouble--guias{
    position: relative;
    top: 15vh;
    width: 55vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.Tarea__trouble--guias img{
   width: 120px;
}
.Tarea__trouble--guias-grande {
    width: 50px;
    height: 70px;
}
/* seccion 5 */
.Tarea__lawyers{
    width: 100%;
    height: 120vh;
    background-image: url(./Repositorio_Homepage/fondo5_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    color: #fff;
}
.Tarea__lawyers--bloque{
    display: flex;
    width: 70%;
    height: 100vh;
    margin: auto;
    position: relative;
    top: 10vh;
    padding: 50px 20px;
    font-family: 'Outfit', sans-serif;
    background: rgba(31, 39, 50, 0.85);
}
.Tarea__lawyers--historia{
    width: 90vw;
}
.Tarea__lawyers--historia p{
    font-size: 14px;
    color: #D7D7D7;
}
.Tarea__lawyers h2{
    font-family: 'Cormorant Garamond', serif;
}
.Tarea__lawyers--historia--opening{
    padding: 10px 0px;

}
.Tarea__lawyers--historia--opening h4{
    color: #D1B06B;
    padding: 10px 0px;
}
.Tarea__lawyers--imagen{
    height: 88vh;
}
.Tarea__lawyers--experienced{
    /* border: 1px solid; */
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Tarea__lawyers--experienced--info{
    font-size: 14px;
    color: #D7D7D7;
}
.Tarea__lawyers--experienced--pocent-espacio{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Tarea__lawyers--experienced--pocent-barra{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}
.Tarea__lawyers--experienced--pocent-barra img{
    width: 100%;
    /* border: 1px solid; */
}
.Tarea__lawyers--experienced--btn button{
    background: #D1B06B;
    font-family: Outfit;
    width: 15vw;
    height: 10vh;
    font-size: 18px;
    border: none;
}
    /* seccion #6 */
.Tarea__client{
    background: #1F2732;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.Tarea__client--bloque{
    position: relative;
    top: 20vh;
    width: 80%;
    margin: auto;
}
.Tarea__client--usuario{
    width: 40vh;
    height: 55vh;
}
.Tarea__client--bloque-usuarios{
    display: flex;
    position: relative;
    width: max-content;
    margin: auto;
    top: 5vh;
}
.Tarea__client--usuario-info_fondo{
    background: #2E3947;
    height: 65%;
    width: 90%;
    padding: 20px;
    border-radius: 1px 1px 1px 30px;
}
.Tarea__client--usuario-info{
    width: 95%;
    margin: auto;
    text-align: left;
}
.Tarea__client--usuario-info p{
    font-size: 14px;
    margin-top: 15px;
}
.Tarea__client--usuario-imagen{
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
}
.Tarea__Client-revers{
    top: 0;
}
.Tarea__Client-revers--fondo{
    position: relative;
    top: 15px;
}
.Tarea__client--usuario-imagen img{
    border-radius: 50%;
}
.Tarea__client--usuario-nombre p{
    font-size: 14px;
}
.Tarea__client--usuario-nombre{
    margin-left: 10px;
    text-align: left;
}

        /* seccion #7 */
.Tarea__abogados{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5vh 0vh;
    /* border: 1px solid; */
}
.Tarea__abogados--title{
    width: 30vw;
    margin: auto;
}
.Tarea__abogados--title img{
    margin-top: 10px;
}
.Tarea__abogados--perfiles{
    display: flex;
    width: 95%;
    margin: auto;
    height: 110vh;
    /* border: 1px solid; */
}
.Tarea__abogados--perfil{
    width: 28%;
    height: 75vh;
    margin: auto;
    position: relative;
    /* border: 1px solid; */
}
.Tarea__abogados--perfil img{
    width: 100%;
}
.Tarea__abogados--perfil-redes{
    width: 50%;
    position: absolute;
    bottom: 17px;
    left: 25%;
    background: #FFF;
    padding: 15px 5px;
    /* border: 1px solid; */
}
.Tarea__abogados--perfil-redes p{
    color: #D1B06B;
}
.Tarea__abogados--perfil-redes img{
    width: 12%;
    margin-right: 10px;
}
.Tarea__abogados--perfil-linea{
    width: 65%;
    margin: auto;
}
.Tarea__abogados--perfil-linea img{
    width: 100%;
}
.Tarea__abogados--perfil-redes-nombre{
    position: relative;
    top: 10px;
}
.Tarea__abogados--btn{
    position: relative;
    bottom: 50px;
}
.Tarea__abogados--btn button{
    width: 15vw;
    height: 70px;
    color: #1F2732;
    font-family: Outfit;
    font-size: 18px;
    background: #fff;
    border: 1px solid black;
}
        /* seccion #8 */
.Tarea__expertos{
    
    display: flex;
    align-items: center;
    background: #1F2732;
    color: #fff;
    padding: 10vh;
}
.Tarea__expertos--bloque{
    width: 80%;
    height: 50vh;
    margin: auto;
    display: flex;
    /* border: 1px solid; */
    /* position: relative;
    top: 10vh; */
}
.Tarea__expertos--title{
    width: 24vw;
    padding:25px 0px;
}
.Tarea__expertos--info{
    width:90%;
    padding: 0px 0px 30px 0px;
    color: #D7D7D7;
    font-size: 14px;
}
.Tarea__expertos--consulta-info{
    color: #909090;
    font-size: 14px;
    padding: 25px 0px;
    
}
.Tarea__expertos--btn button{
    background: #D1B06B;
    font-family: Outfit;
    width: 15vw;
    height: 10vh;
    font-size: 18px;
    border: none;
}
.Tarea__expertos--contenido{
    /* border: 1px solid; */
    width: 60%;
    margin-right: 50px;
}
.Tarea__expertos--consulta{
    /* border: 1px solid; */
    height: 100%;
    width: 60%;
    background: #fff;
    color: black;
    display: flex;
    align-items: center;
}
.Tarea__expertos--consulta_marco{
    border: 10px solid #DFDFDF;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 15px;
}
.Tarea__expertos--consulta-title{
    font-size: 20px;
    font-weight: 700;
}
.Tarea__expertos--consulta-contacto{
    display: flex;
    align-items: end;
}
.Tarea__expertos--consulta-contacto img{
    width: 50px;
}
.Tarea__expertos--consulta-contacto_numero{
    margin-left: 10px;
}
    /* seccion #9 */
.Tarea__citas{
    background-image: url(./Repositorio_Homepage/fondo_9.png);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.Tarea__citas--contenido{
    width: 70%;
    margin: auto;
    background: #1F2732;
    color: #D7D7D7;
    padding: 0vh 10vh;
}
.Tarea__citas--info-usuario{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
.Tarea__citas--info-usuario-ingresar{
    width: 40%;
}
.Tarea__citas--info-usuario-mensaje img{
    width: 100%;
    padding:45px 0px;
}
.Tarea__citas--info-usuario-mensaje{
    /* border: 1px solid; */
    padding: 30px 0px;
}
.Tarea__citas--info-usuario-mensaje_btn{
    /* border: 1px solid; */
    width: 180px;
    margin: auto;
}
.Tarea__citas--info-usuario-mensaje_btn button{
    width: 180px;
    height: 60px;
    border: none;
    font-family: Outfit;
    font-size: 15px;
}
/* seccion #10 */
.Tarea__blogs{
    background: #1F2732;
    text-align: center;
    padding: 15vh;
    color: #fff;
}
.Tarea__blogs--reglamento{
    display: flex;
}
.Tarea__blogs--title h2{
    font-size: 30px;
    padding: 20px 0px;
}
.Tarea__blogs--title{
    padding: 0px 0px 30px 0px;
}
.Tarea__blogs--firma{
    display: flex;
    width: 85%;
    margin: auto;
    /* border: 1px solid; */
}
.Tarea__blogs--firma-imagen img{
    width: 30vw;
}
.Tarea__blogs--firma--contenido{
    /* border: 1px solid; */
    text-align: left;
    margin-left: 20px;
    padding: 30px 10px;
    width: 60%;
    color: #D7D7D7;
    
}
.Tarea__blogs--firma--contenido-fecha{
    font-size: 14px;
    color: #D1B06B;
}
.Tarea__blogs--firma--contenido--info{
    width: 100%;
    padding: 20px 0px;
    /* border: 1px solid; */
}
.Tarea__blogs--firma--contenido--info_mas a{
    color: #D1B06B;
    font-family: Outfit;
}
.Tarea__blogs--linea{
    width: 85%;
    margin: auto;
    padding: 30px 0px;
}
.Tarea__blogs--linea img{
    width: 100%;
}
.Tarea__blogs--reglamento{
    width: 85%;
    margin: auto;
    padding: 40px 0px;
}
.Tarea__blogs--reglamento_div{
    width: 30%;
    margin-right: 20px;
    /* border: 1px solid; */
    text-align: left;
}
.Tarea__blogs--reglamento_div img{
    width: 100%;
}
.Tarea__blogs--reglamento_fecha{
    color: #D1B06B;
    font-size: 14px;
}
.Tarea__blogs--reglamento_title{
    padding: 20px 0px;
}
.Tarea__blogs--reglamento_info{
    color: #D7D7D7;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}
.Tarea__blogs--reglamento_info-mas a{
    color: #D1B06B;
    font-family: Outfit;
}
/* seccion #11 */
.Tarea__imagen-anterior_futer{
    width: 100%;
}
.Tarea__imagen-anterior_futer img{
    width: 100%;
    margin-bottom: -4px;
}
/* seccion #12 */

/* contenido de la seccion footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20vh 0px;
    background: #1F2732;
    color: #fff;
}
.titulo_Attorneyster{
    display: flex;
    align-items: center;
    gap: 35px;
}
.icono_lateral{
    width: 25vw;
}
.contenedor_Attorneyster{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.titulos_footer{
    font-size: 25px;
    padding: 20px 0px;
    border-top: 1px solid #4a535f;
    border-bottom: 1px solid #4a535f;
}
.contenido_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-weight: 100;
}
.footer--dividido{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    font-weight: 100;
}
.parrafos_divididos{
    padding-bottom: 6px;
}
.contenedor_Copyright{
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid #3A4553;
    border-top: 1px solid #3A4553;
}
.footer_linear{
    display: flex;
    gap: 3px;
}
.footer_separacion{
    display: flex;
    gap: 20px;
}
.footer_logos{
    display: flex;
    gap: 20px;
}
