@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&display=swap');

h2{
    font-family: 'Cormorant Garamond', serif;
}
h3{
    font-family: 'Cormorant Garamond', serif;
}
h4{
    font-family: 'Cormorant Garamond', serif;
}
p{
    font-family: 'Outfit', sans-serif;
}
a{
    font-family: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f2732;
}

.seccion_Attorneyster{
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    color: #fff;
    background: #1F2732;
    background-image: url(/Cases--single/Repositorio_Cases--single/fondo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo_Business{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo_Business h2{
    font-size: 40px;
}
.contenedor_banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #353c46 ;
    padding: 3% 0px;
}
.titulo_logo{
    font-size: 50px;
}
.contenedor_banner_contenido{
    display: flex;
    align-items: center;
}
.contenedor_banner--espacio{
    display: flex;
    gap: 50px;
    align-items: center;
}
.contenedor_espacio{
    gap: 10px;
}
.imagen_cart{
    width: 27%;
}
.boton_consultar button{
    font-family: 'Outfit', sans-serif;
    width: 15vw;
    height: 10vh;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    font-size: 18px;
    color: #fff;
}
.contenedor_contactos{
    display: flex;
    gap: 25px;
}
.img_contacto{
    border: 2px solid #D1B06B;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-content: center;
}
.text_contacto{
    display: flex;
    gap: 20px;
}
.contenedor_banner_contenido--espacio{
    display: flex;
    align-items: center;
    gap: 10px;
}
.texto_dorado{
    color: #D1B06B;
}

.infor__texto h2{
    color: white;
}
.seccion_Attorneyster--title{
    width: 20vw;
    margin: auto;
    font-size: 35px;
    text-align: center;
    position: relative;
    bottom: 3vh;
    padding: 10vh 0vh;
}
.img__contenido img{
    width: 85%;
}
.img__contenido{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.img__infor{
   display:flex;
   flex-direction: column;
   gap: 20px;
   padding: 30px 0px;
   width: 50%;
}
.img__infor h3, a{
    color: #d1b16bca;
}
.img__infor h1 {
    color: white;
}
.img__infor{
    color: rgba(255, 255, 255, 0.794);
}

.tarjeta__present a{
    color: #d1b06b;
}
.tarjeta__present img{
    width: 100%;
}
.tarjeta__inform h4 {
    color: white;
}
.tarjeta__inform h5{
    color: #d1b06b;
}
.tarjeta__inform p{
    color: rgba(255, 255, 255, 0.813);
}
.tarjeta__inform{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cards__tarjeta{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.tarjeta__mover{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
    row-gap: 20px;
}
.tarjeta__present{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23vw;
}
.presentado__empresa{
    background-color: white;
}
.presentado__mover{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 50px;
}
.presentado__img{
    display: flex;
    align-items: center;
}
.logiar__img{
    height: 40px;
    padding: 0 20px;
}

/* contenido de la seccion footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20vh 0px;
    background: #1F2732;
    color: #fff;
}
.titulo_Attorneyster{
    display: flex;
    align-items: center;
    gap: 35px;
}
.icono_lateral{
    width: 25vw;
}
.contenedor_Attorneyster{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.866);
}

.final__lado{
    display: flex;
    gap: 30px;
    width: 80%;
    justify-content: space-between;
}
.titulos_footer{
    font-size: 25px;
    padding: 20px 0px;
    border-top: 1px solid #4a535f;
    border-bottom: 1px solid #4a535f;
}
.contenido_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-weight: 100;
}

.final__contenedor p{
    font-size: 13px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.841);
}

.parrafos_divididos{
    padding-bottom: 6px;
}
.contenedor_Copyright{
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid #3A4553;
    border-top: 1px solid #3A4553;
}
.footer_linear{
    display: flex;
    gap: 3px;
}
.footer_separacion{
    display: flex;
    gap: 20px;
}
.footer_logos{
    display: flex;
    gap: 20px;
}
.Btn_siguiente button{
    width: 160px;
    height: 40px;
    border: none;
    font-family: Outfit;
    font-size: 18px;
    border-radius: 10px;
}
.Btn_siguiente a{
    text-decoration: none;
}