@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Cormorant Garamond', serif;
}
h2{
    font-family: 'Cormorant Garamond', serif;
}
h3{
    font-family: 'Cormorant Garamond', serif;
}
h4{
    font-family: 'Cormorant Garamond', serif;
}
p{
    font-family: 'Outfit', sans-serif;
    color: #D7D7D7;
}
button{
    font-family: 'Outfit', sans-serif;
}
a{
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #1f2732;
}
.seccion_Attorneyster{
    padding: 0px  10%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    color: #fff;
    background: #1F2732;
    background-image: url(/Cases--single/Repositorio_Cases--single/fondo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo_Business{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo_Business h2{
    font-size: 40px;
}
.contenedor_banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #353c46 ;
    padding: 20px 0px;
}
.titulo_logo{
    font-size: 50px;
}
.contenedor_banner_contenido{
    display: flex;
    align-items: center;
}
.contenedor_banner--espacio{
    display: flex;
    gap: 50px;
    align-items: center;
}
.contenedor_espacio{
    gap: 10px;
}
.imagen_cart{
    width: 27%;
}
.boton_consultar button{
    font-family: 'Outfit', sans-serif;
    width: 15vw;
    height: 10vh;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    font-size: 18px;
    color: #fff;
}
.contenedor_contactos{
    display: flex;
    gap: 25px;
}
.img_contacto{
    border: 2px solid #D1B06B;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-content: center;
}
.text_contacto{
    display: flex;
    gap: 20px;
}
.contenedor_banner_contenido--espacio{
    display: flex;
    align-items: center;
    gap: 10px;
}
.texto_dorado{
    color: #D1B06B;
}
.seccion_Attorneyster--title{
    width: 20vw;
    margin: auto;
    font-size: 35px;
    text-align: center;
    position: relative;
    bottom: 3vh;
}
.tamaño{
    font-size: 24px;
    color: #fff;
}
.infor__texto h2 {
  color: white;
}
.img__center picture{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 60px;
}

.img__center img{
    width: 90%;
}
.cards__present{
    background-color:  #161d27;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    position: relative;
   padding-top: 50px;
}
.cards__infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards__precio, .cards__personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards__precio h3{
    color: #d1b06b;
}
.cards__personal{
    gap: 10px;
    color: rgba(255, 255, 255, 0.805);
}
.cards__infor h3{
    color: rgba(255, 255, 255, 0.804);
}
.cards__infor p{
    color: #d1b16bb5;
}
.cards__boton button{
    background-color:#161d27;
    border: none;
    border: 1px solid #d1b06b;
    padding: 8px 40px;
    text-align: center;
    display: flex;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.cards__info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.cards__boton--color button{
    background-color: #d1b06b;
    color: black;
}
.cards__precio button{
    background-color: #1f2732;
    border: none;
    text-align: center;
    padding: 5px;
    color: rgba(255, 255, 255, 0.833);
}
.bd__infor{
    background-color: white;
    padding: 30px;
}

.bd__informacion p{
    border-bottom: 1px solid black;
    
}
.bd__norma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bd__grid{
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-items: center;
  gap: 20px;
}

.bd__fonfo{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
.bd__fond{
    text-align: center;
    padding: 40px;
}
.bd__fond p{
    padding: 20px;
}
.bd__duro{
    padding-top: 20px;
    align-items: center;
}
.bd__super{
    padding: 10px 40px;
    cursor: pointer;
    background-color: #d1b06b;
    border: none;
}
/* contenido de la seccion footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20vh 0px;
    background: #1F2732;
    color: #fff;
}
.titulo_Attorneyster{
    display: flex;
    align-items: center;
    gap: 35px;
}
.icono_lateral{
    width: 25vw;
}
.contenedor_Attorneyster{
    display: flex;
<<<<<<< HEAD
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.875);
=======
    width: 80%;
    justify-content: space-between;
>>>>>>> Yovert
}
.titulos_footer{
    font-size: 25px;
    padding: 20px 0px;
    border-top: 1px solid #4a535f;
    border-bottom: 1px solid #4a535f;
}
.contenido_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-weight: 100;
}
<<<<<<< HEAD
.final__contenedor p{
    font-size: 13px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.853);
}
.final__lado1{
=======
.footer--dividido{
>>>>>>> Yovert
    display: flex;
    gap: 20px;
    padding-top: 20px;
    font-weight: 100;
}
.parrafos_divididos{
    padding-bottom: 6px;
}
.contenedor_Copyright{
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid #3A4553;
    border-top: 1px solid #3A4553;
}
.footer_linear{
    display: flex;
    gap: 3px;
}
.footer_separacion{
    display: flex;
    gap: 20px;
}
.footer_logos{
    display: flex;
    gap: 20px;
}



