@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,300;1,400;1,700&family=Epilogue:wght@500;700&family=Luxurious+Script&family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Cormorant Garamond', serif;
}
h2{
    font-family: 'Cormorant Garamond', serif;
}
h3{
    font-family: 'Cormorant Garamond', serif;
}
h4{
    font-family: 'Cormorant Garamond', serif;
}
p{
    font-family: 'Outfit', sans-serif;
    color: #D7D7D7;
}
li{
    font-family: 'Outfit', sans-serif;
    color: #D7D7D7; 
}
button{
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #1f2732;
}
.seccion_Attorneyster{
    padding: 0px  10%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    color: #fff;
    background: #1F2732;
    background-image: url(/Cases--single/Repositorio_Cases--single/fondo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
<<<<<<< HEAD

.hed__mover{
=======
.titulo_Business{
>>>>>>> Yovert
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo_Business h2{
    font-size: 40px;
}
.contenedor_banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #353c46 ;
    padding: 20px 0px;
}
.titulo_logo{
    font-size: 50px;
}
.contenedor_banner_contenido{
    display: flex;
    align-items: center;
}
.contenedor_banner--espacio{
    display: flex;
    gap: 50px;
    align-items: center;
}
.contenedor_espacio{
    gap: 10px;
}
.imagen_cart{
    width: 27%;
}
.boton_consultar button{
    font-family: 'Outfit', sans-serif;
    width: 15vw;
    height: 10vh;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    font-size: 18px;
    color: #fff;
}
.contenedor_contactos{
    display: flex;
    gap: 25px;
}
.img_contacto{
    border: 2px solid #D1B06B;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-content: center;
}
.text_contacto{
    display: flex;
    gap: 20px;
}
.contenedor_banner_contenido--espacio{
    display: flex;
    align-items: center;
    gap: 10px;
}
<<<<<<< HEAD
.infor__texto h2{
    color: white;
}
=======
.texto_dorado{
    color: #D1B06B;
}
.seccion_Attorneyster--title{
    width:25vw;
    margin: auto;
    font-size: 35px;
    text-align: center;
    position: relative;
    bottom: 3vh;
}


>>>>>>> Yovert
.explore__info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 160px;
}
.explore__info p{
    color:  white;
}
.explore__info span{
    color: #d1b06b;
}
.explore__tipo p{
    font-weight: 300;
    font-size: 30px;
}
.cards__general{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    align-items: center;   
}
.section__general{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cards__tarjetas{
    background-color: #161d27;
    width: 280px;
    border-radius: 5px;
}
.cards__info{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}
.cards__info h3, p{
    color: white;
}
.cards__logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    padding-bottom: 20px;
}
.cards__img{
    height: 30px;
}
.cards__button{
    background-color:#1f2732;
    padding: 8px 8px;
    border-radius: 2px;
}
.cards__button button{
    border: none;
    color: white;
    background-color:#1f2732;
    cursor: pointer;
}
.cards__button--bg{
    background-color: #d1b06b;
}
.cards__button--bg button {
    background-color:#d1b06b; 
    color: black;
}
.infor__professional{
    padding-top: 45px;
}
.infor__oscuro{
    background-color:#161d27;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px;
    align-items: center;
}
.infor__present h3{
    color: white;
    padding-bottom: 15px;
}
.infor__present p{
    color: rgba(255, 255, 255, 0.883);
    font-size: 13px;
    padding-bottom: 20px;
}
.picture__img img{
    height: 40px;
}
.estilos__infor{
    background-color: white;
    padding: 40px 40px;
}
.estilos__conten{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.estilos__conten p{
    color: rgba(0, 0, 0, 0.571);
}
.estilo__img {
    display: flex;
    align-items: center;
}
.estilo__bd{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.estilo__central{
    flex-direction: column;
}
.estilo__img p{
    color: black;
}
.estilo__tele{
    font-size: 12px;
}
.boton__button button{
    padding: 10px 30px;
    border: none;
    background-color: #d1b06b;
}
.formulario__bg{
    background-image: url(/imagenes/img/Photo\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 280px;
}
.formulario__mover{
  background-color: #1f2732;
  display: flex;
  position: absolute;
  top: 20px;
  padding-bottom: 30px;
 
}
.formulario__central{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: baseline;
    padding: 20px;
}
.formulario__infor{
    padding: 20px 50px;
    position: relative;
}
.formulario__infor input{
    width: 230px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid blueviolet ;
}
.formulario__infor label{
  position: absolute;
  left: 65px;
  top: 0;
  color: white;
} 
.formu__buton{
  position: absolute;
  top: 75%;
  left: 40%;
}
.formulario__button{
    padding: 10px;
    border: none;
    cursor: pointer;
}

.presentado__empresa{
    background-color: white;
}
.presentado__mover{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 50px;
}
.presentado__img{
    display: flex;
    align-items: center;
}
.logiar__img{
    height: 40px;
    padding: 0 20px;
}
/* contenido de la seccion footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20vh 0px;
    background: #1F2732;
    color: #fff;
}
.titulo_Attorneyster{
    display: flex;
    align-items: center;
    gap: 35px;
}
.icono_lateral{
    width: 25vw;
}
.contenedor_Attorneyster{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
<<<<<<< HEAD
.final__h3{
    color: rgba(255, 255, 255, 0.918);
}
.final__lado{
    display: flex;
    gap: 30px;
    
=======
.titulos_footer{
    font-size: 25px;
    padding: 20px 0px;
    border-top: 1px solid #4a535f;
    border-bottom: 1px solid #4a535f;
>>>>>>> Yovert
}
.contenido_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-weight: 100;
}
<<<<<<< HEAD
.final__contenedor p{
    font-size: 13px;
    cursor: pointer;
    
}
.final__lado1{
=======
.footer--dividido{
>>>>>>> Yovert
    display: flex;
    gap: 20px;
    padding-top: 20px;
    font-weight: 100;
}
.parrafos_divididos{
    padding-bottom: 6px;
}
.contenedor_Copyright{
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid #3A4553;
    border-top: 1px solid #3A4553;
}
.footer_linear{
    display: flex;
    gap: 3px;
}
.footer_separacion{
    display: flex;
    gap: 20px;
}
.footer_logos{
    display: flex;
    gap: 20px;
<<<<<<< HEAD
    padding-left: 20px;
    padding-top: 25px;   
}

.final__subir{
    padding-bottom: 45px;
    padding-left: 20px;
}
.final__contenedor--mover{
    padding-left: -60%;
}
.final__subir--active{
 padding-bottom: 30px;
 padding-right: 130px;
}
.infor__post span{
    color: #d1b06b;
}
 
.infor__post{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 50px;
    
}
.infor__post picture{
    display: flex;
    align-items: center;
    gap: 8px;
=======
>>>>>>> Yovert
}

